#about{
    --color-bg: #ddd;
    --color-text: #1a1e24;
    --color-text-subtle: #8F98FF;
    gap: 2em;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

.shadow {
  box-shadow: 0 0 5px 1px black, inset 0 0 5px 1px black;
  overflow: visible;
}

@media only screen and (min-width: 0px) {
  .wrapper {
    width: 80%;
    justify-content: space-between;
    flex-direction: column;
  }
} 

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 60%;
    justify-content: space-between;
    flex-direction: row;  
  }
}

.content {
  text-align: center;
}

.termynal {
  margin-top: 15vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
  width: 100vh;
  position: relative;
  flex-grow: 5;
}

.icons{
  margin-top: 15vh;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  flex-shrink: 5;
}

.trophy{
  margin-top: 10vh;
}