.hero-logo {
  width: 18rem;
  /* height: 150px; */
}

#hero {
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}

#hero > h1 {
  font-weight: bold;
  font-family: "IBM Plex Sans";
}
.volunteer-btn a {
  font-weight: bold;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.volunteer-btn a {
  font-weight: bold;
  color: white; /* blue colors for links too */
  text-shadow: 2px 2px gray;

  text-decoration: inherit; /* no underline */
}
.mentor-btn a {
  color: white; /* blue colors for links too */
  text-shadow: 2px 2px gray;

  text-decoration: inherit; /* no underline */
}
.timer-border {
  border: solid;
  border-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-date {
  font-size: 2rem;
  font-weight: 700;
  color: #c1ecff;
  text-shadow: 2px 2px gray;
}
