.hero-logo {
  width: 16rem;
}

#hero {
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#hero > h1 {
  font-weight: bold;
  margin: 0.5rem 0;
}

.timer-border {
  border: solid;
  border-color: white;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.3rem 0.3rem 0.8rem 0.3rem;

}
.hero-date {
  font-size: 2rem;
  font-weight: 700;
  color: #434667;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  color: white;
  text-shadow: 2px 2px gray;
  padding: 10px;
  text-align: center;
}
.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 40px;
}
.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 20px;
}
