#sponsors,#partners{
  padding-bottom:30px;
}

#sponsors #partners {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#sponsors h1,
#partners h1,
#faq h1 {
  font-weight: bold;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.sponsor_prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 1.5rem;
}

.bronze img {
  max-height: 7.8rem;
  max-width: min(17.2rem, 100%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.silver img {
  max-height: 18.75rem;
  max-width: min(25rem, 100%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.gold img {
  max-height: 20rem;
  max-width: min(50rem, 100%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.gold {
  /* border: solid gold 2px !important; */
  border: none;
  /* box-shadow: 0 0 5px 1px gold, inset 0 0 5px 1px gold; */
}
.silver {
  /* border: solid silver 2px !important; */
  border: none;
  /* box-shadow: 0 0 5px 1px silver, inset 0 0 5px 1px silver; */
}
.bronze {
  /* border: solid #cd7f32 2px !important; */
  border: none;
  /* box-shadow: 0 0 5px 1px #cd7f32, inset 0 0 5px 1px #cd7f32; */
}
.partner img {
  max-height: 15rem;
  width: 10em;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.partner {
  justify-content: space-between;
}
#sponsors > .glass-card,
#partners > .glass-card,
#faq > .glass-card {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  flex-wrap: wrap;
}

@media screen and (min-width: 400px) {
  #sponsors > .glass-card,
  #partners > .glass-card,
  #faq > .glass-card {
    width: 90%;
  }
  .partner img {
    width: 13em;
  }
}

@media only screen and (min-width: 768px) {
  #sponsors > .glass-card,
  #partners > .glass-card,
  #faq > .glass-card {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  #sponsors > .glass-card,
  #partners > .glass-card,
  #faq > .glass-card {
    width: 60%;
  }
}
