#sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.sponsor_prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bronze img {
    max-height: 7.8rem;
    max-width: min(17.2rem, 100%);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.silver img {
    max-height: 18.75rem;
    width: 25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.gold img {
    max-height: 20rem;
    width: 35rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.partner img {
    width: 20rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
#sponsors h1 {
    font-weight: bold;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.gold,
.bronze,
.silver,
.sponsor_prompt,
.partner {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 1em;
    flex-wrap: wrap;
}
