:root {
  /* Colours */
  --bg-colour: #ffffff;
  --nav-burger-width: clamp(2rem, 2.5rem, 3rem);
  --nav-burger-line-height: max(
    0.3rem,
    calc((var(--nav-burger-width) * 0.4) / 3)
  );

  scroll-behavior: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
  font-family: IBM Plex Sans, sans-serif;
  /*background-color: var(--bg-colour); */
  background: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2545.jpg?w=2000")
    no-repeat fixed center;
}
.logo {
  background-color: black;
  width: 150px;
  height: 150px;
}
#hero {
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}
#hero button {
  background-color: black;
  width: 100%;
  padding: 5px;
  color: white;
}
.timer-border {
  border: solid;
  border-color: black;
  width: 100%;
  display: flex;

  justify-content: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: auto;
  position: absolute;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 0.2rem;
  width: 80%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

.unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.nav-links > li > a {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3rem;
  top: 3rem;
  z-index: 1000;

  border-radius: 5%;

  padding: 0.3rem;
  transition: background-color 500ms;
  opacity: 0.8;
}

.nav-active {
  border-radius: 3%;
  opacity: 0.8;
}

/* NAV BURGER ICON */
.nav-burger {
  display: block;
  cursor: pointer;

  padding: 1rem;
}

.nav-burger > div {
  background-color: black;

  width: var(--nav-burger-width);
  height: var(--nav-burger-line-height);
  margin: calc(
      (
          (var(--nav-burger-width)) * 0.7071067812 -
            var(--nav-burger-line-height) * 2
        ) / 2
    )
    0;
  border-radius: 0.3rem;
}
.nav-burger > div:nth-child(1) {
  transform-origin: left;
  transition-property: transform, background-color, box-shadow;
  transition-duration: 500ms;
}

.nav-burger > div:nth-child(2) {
  transform-origin: left;
  transition-property: transform, background-color, box-shadow;
  transition-duration: 500ms;
}

.nav-burger > div:nth-child(3) {
  transform-origin: left;
  transition-property: transform, background-color, box-shadow;
  transition-duration: 500ms;
}

/* x button */
.nav-burger-active > div:nth-child(1) {
  transform: rotate(45deg);
  background-color: black;
}

.nav-burger-active > div:nth-child(2) {
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-1.25rem);
}

.nav-burger-active > div:nth-child(3) {
  transform: rotate(-45deg);
  background-color: black;
}

.nav-links {
  display: flex;
  /*align-items: end;*/
  flex-direction: column;

  max-width: 0;
  max-height: 0;

  transform: scale(0, 0);
  transform-origin: 1rem 0;

  margin: auto 0;

  transition-property: max-width, max-height, transform;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.nav-links-active {
  max-width: 15.6rem;
  max-height: 20rem;
  transform: scale(1, 1);
}

.nav-links > li {
  margin: 0.3rem 1rem 0.3rem 0.4rem;
}
#sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor_prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bronze img {
  max-height: 7.8rem;
  max-width: min(17.2rem, 100%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.silver img {
  max-height: 18.75rem;
  width: 25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.gold img {
  max-height: 20rem;
  width: 35rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.partner img {
  width: 20rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
#sponsors h1 {
  font-weight: bold;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.gold,
.bronze,
.silver,
.sponsor_prompt,
.partner {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  flex-wrap: wrap;
}
.glass_card {
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
