.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  color: white;
  text-shadow: 2px 2px gray;
  padding: 10px;
  text-align: center;
}
.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 40px;
}
.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 20px;
}
